<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Category</th>
      <th>Favorite</th>
      <th>Comment</th>
      <th>Created date</th>
      <th colspan="9"></th>
    </tr>
  </thead>
  <tbody>
    <% questions.each do |question| %>
      <tr>
        <td>
        </td>
        <td><%= link_to question.user.name, user_question_path(question.user_id) %></td>
        <td><%= link_to question_details_path(question) do %>
          <%= question.title.truncate(10) %>
          <% end %>
        </td>
        <td><%= question.body.truncate(12) %></td>
        <td><%= question.category.name %></td>
        <td><%= render 'question_favorites/question_favorite', question: question %></td>
        <td><%= question.question_comments.count %></td>
        <td> <%= question.created_at.strftime('%Y/%m/%d') %></td>

      </tr>
    <% end %>
  </tbody>
</table>