  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <div class="detail-title">
        <h1 class="mt-4"><%= @question.title %></h1>
        </div>
        <!-- Author -->
        <p class="lead">
          by
          <%= link_to @question.user.name, user_question_path(@user) %>
        </p>
        <p><%= @question.question_comments.count %> comment</p>
        <div id="questionfavorites_buttons_<%= @question.id %>"><%= render 'question_favorites/question_favorite', question: @question %></div>
        <% if @question.solution == true %>
          <div class="text-success text-success font-weight-bolder", style="font-size: 23px;">Status: solved</div>
        <% else %>
          <div class="text-success text-success font-weight-bolder", style="font-size: 23px;">Status: Unresolved</div>
        <% end %>
        <hr>
        <!-- Date/Time -->
        Posted on <%= @question.created_at.strftime('%Y/%m/%d') %>  by <%= @question.user.name %>
        <!--edit/delete-->
        <% if @question.user == current_user %>
          <%= link_to 'Edit', edit_question_path(@question), class: "btn btn-sm btn-success edit_book" %>
          <%= link_to "Delete", question_path(@question), method: :delete, class: "btn btn-sm btn-danger destroy_book" %>
        <% end %>
        <hr>
        <!-- Preview Image -->
        <%= attachment_image_tag @question, :image , size: 'auto', alt: "" , class: "img-fluid rounded" %>
        <hr>
        <!-- Post Content -->
        <div class="detail-content">
          <p class="lead"><%= @question.body %></p>
          <!-- Comments Form -->
          <%= form_with model:[@question, @question_comment], remote: true do |f| %>
          <div class="card my-4">
            <h5 class="card-header">Post a Comment:</h5>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <%= f.text_area :comment, rows:'3', class: "form-control", placeholder: "Please write your answer here",id: "questiontexture_area"  %>
                </div>
                <%= f.submit "Post", class: "btn btn-primary"  %>
              </form>
            </div>
          </div>
          <% end %>
          <!-- Side Widget -->
          <h5 class="card-header">Answers to questions from users</h5>
        </div>
        <div id="questioncomments_area">
          <%= render 'question_comments/question_details', question: @question %>
        </div>
      </div>
    </div>
  </div>
