<div class="container">
<!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">A Question Welcome!</h1>
    <p class="lead">This is a list of user questions. Let's comment and follow!</p>
    <%= link_to 'LETS YOUR Question!!', user_question_path(current_user), class: "btn btn-primary btn-lg", role: '' %>
  </header>

  <!-- Page Features -->
  <div class="row text-center">
    <% @questions.each do |question| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card-body">
        <div class="cardwide h-100">

        <%= attachment_image_tag question, :image , width: 'auto', height: 'auto', fallback: "no_image.jpg", alt: "", class: "card-img-top"%>

          <div class='indexcard-body'>
            <h4 class="card-title"><%= question.title.truncate(10) %></h5>
            <h6 class="card-text"><%= question.body.truncate(12) %></h6>

          </div>
          <div class="indexcard-footer">
            <% if question.solution == true %>
            <div class="text-success text-success font-weight-bolder", style="font-size: 23px;">Status: solved</div>
            <% else %>
            <div class="text-success text-success font-weight-bolder", style="font-size: 23px;">Status: Unresolved</div>
            <% end %>
            ♥<%= question.question_favorites.count %> Like<br>
            <%= question.question_comments.count %> comment<br>
             Category: <%= question.category.name %><br>
           Posted by <%= link_to question.user.name, user_question_path(question.user_id) %><br>
           <%= question.created_at.strftime('%Y/%m/%d') %><br>
            <%= link_to 'Find Out More!', question_details_path(question), class: "btn btn-primary", position: 'bottom' %>
          </div>
        </div>

      </div>

    </div>
    <% end %>
  </div>
    <!-- /.row -->

  </div>