<div class="container">

    <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
      <h1 class="display-3">Question page by <%= @user.name %></h1>
      <p class="lead">This is your question list page! Share with everyone what you are wondering about or what you don't understand in your studies!</p>
      <p class="lead">↓　Let's create a Question right away!</p>
      <%= link_to 'START A Question！',new_question_path(current_user), class: "btn btn-primary btn-lg"%>
    </header>
  <div class="container">

    <div class="row">

          <!-- question Entries Column -->
          <div class="col-md-8">

            <h1 class="my-4">Question Lists
              <small>by <%= @user.name %></small>     <%=@user.questions.count %>articles
            </h1>


            <!-- question Post -->
            <% @questions.each.with_index(1) do |question, idx| %>
            <div class='show-card'>
              <div class="card mb-4">
                <%= link_to question_details_path(question) do %>
                <%= attachment_image_tag question, :image , width: 'auto', height: 'auto', fallback: "no_image.jpg", alt: "", class: "card-img-top"%>
                <% end %>
                <div class="card-body">
                  <h4 class="card-title"> <%= idx %>article</h4>
                  <% if question.solution == true %>
                    <div class="text-success text-success font-weight-bolder", style="font-size: 23px;">Status: solved</div>
                  <% else %>
                    <div class="text-success text-success font-weight-bolder", style="font-size: 23px;">Status: Unresolved</div>
                  <% end %>
                  <h2 class="card-title"><%= question.title.truncate(35) %></h2>
                  <p class="card-text"><%= question.body.truncate(200) %></p>
                  <%= link_to 'Read More →', question_details_path(question), class: "btn btn-primary", role: "" %>

                </div>
                <div class="card-footer text-muted">
                  <pre>Posted on <%= question.created_at.strftime('%Y/%m/%d') %>  by <%= question.user.name %>　　<%= question.question_comments.count %> comment 　 ♥<%= question.question_favorites.count %> Like    Category: <%= question.category.name %></pre>

                  <div>
                  <% if question.user == current_user %>
                    <%= link_to 'Edit', edit_question_path(question), class: "btn btn-sm btn-success edit_book" %>
                    <%= link_to "Delete", question_path(question), method: :delete, class: "btn btn-sm btn-danger destroy_book" %>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
    <!-- /.row -->

    </div>
  </div>
</div>