<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Category</th>
      <th>Favorite</th>
      <th>Comment</th>
      <th>Created date</th>
      <th colspan="9"></th>
    </tr>
  </thead>
  <tbody>
    <% blogs.each do |blog| %>
      <tr>
        <td>
        </td>
        <td><%= link_to blog.user.name, user_blog_path(blog.user_id) %></td>
        <td><%= link_to blog_details_path(blog) do %>
          <%= blog.truncate_count(10, "title") %>
          <% end %>
        </td>
        <td><%= blog.truncate_count(12, "body") %></td>
        <td><%= blog.genre %></td>
        <td>
          <div id="blogfavorites_buttons_<%= blog.id %>">
            <%= render 'blog_favorites/blog_favorite', blog: blog %>
          </div>
        </td>
        <td><%= blog.comments_count %></td>
        <td><%= create_at_by(blog) %></td>

      </tr>
    <% end %>
  </tbody>
</table>