<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
    <!-- Title -->
      <div class="detail-title">
        <h1 class="mt-4"><%= @blog.title %></h1>
      </div>
      <!-- Author -->
      <div class="lead">
        by
        <%= link_to @blog.user.name, user_blog_path(@user) %>
      </div>
        <div class="comments-count" id="blog_<%= @blog.id %>" >
          <div><%= @blog.comments_count %> comment</div>
        </div>
        <div id="blogfavorites_buttons_<%= @blog.id %>"><%= render 'blog_favorites/blog_favorite', blog: @blog %></div>
        Blog Category : <%= link_to @blog.category.name, blogs_path(category_id: @blog.category.id) %>
        <hr>
        <!-- Date/Time -->
        Posted on <%= create_at_by(@blog) %>  by <%= @blog.user.name %>
        <!--edit/delete-->
        <% if @blog.user == current_user %>
          <%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-sm btn-success edit_book" %>
          <%= link_to "Delete", blog_path(@blog), method: :delete, class: "btn btn-sm btn-danger destroy_book" %>
        <% end %>
        <hr>
        <!-- Preview Image -->
        <%= attachment_image_tag @blog, :image , size: 'auto', fallback: "no_image.jpg", alt: "" , class: "img-fluid rounded" %>
        <hr>
        <!-- Post Content -->
        <div class="detail-content">
        <p class="detaillead"><%= @blog.body %></p>
        <!-- Comments Form -->
          <%= form_with model:[@blog, @blog_comment], remote: true do |f| %>
          <div class="card my-4">
            <h5 class="card-header">Post a Comment: Please enter at least 5 characters for the comment.</h5>
              <form>
                <div>
                  <%= f.text_area :comment, rows:'3', class: "form-control", placeholder: "Please write your answer here",id: "blogtexture_area"  %>
                </div>
                <%= f.submit "Post", class: "btn btn-primary btn-lg"  %>
              </form>
          </div>
          <% end %>
          <!-- Side Widget -->
          <h5 class="card-header">Message from users</h5>
        </div>
        <div id="blogcomments_area">
          <%= render 'blog_comments/blog_details', blog: @blog %>
        </div>
      </div>
  </div>
</div>
