<div class="container">
<!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">A BLOG Welcome!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    <%= link_to 'LETS YOUR BLOG!!', user_blog_path(current_user), class: "btn btn-primary btn-lg", role: '' %>
  </header>

  <!-- Page Features -->
  <div class="row text-center">
    <% @blogs.each do |blog| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card-body">
        <div class="cardwide h-100">

        <%= attachment_image_tag blog, :image , width: 'auto', height: 'auto',alt: "", class: "card-img-top"%>

          <div class='indexcard-body'>
            <h4 class="card-title"><%= blog.title.truncate(10) %></h5>
            <h6 class="card-text"><%= blog.body.truncate(20) %></h6>

          </div>
          <div class="card-footer">
            ♥<%= blog.blog_favorites.count %> Like<br>
            <%= blog.blog_comments.count %> comment<br>
             Category: <%= blog.category.name %><br>
           Posted by <%= blog.user.name %><br>
           <%= blog.created_at.strftime('%Y/%m/%d') %><br>
            <%= link_to 'Find Out More!', blog_details_path(blog), class: "btn btn-primary", position: 'bottom' %>
          </div>
        </div>

      </div>
    </div>
    <% end %>
  </div>
    <!-- /.row -->

  </div>