<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">A BLOG Welcome!</h1>
    <p class="lead">This is a list of users' blogs. Let's comment and follow!</p>
    <%= link_to 'LETS YOUR BLOG!!', user_blog_path(current_user), class: "btn btn-primary btn-lg", role: '' %>
  </header>

  <div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle category-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     By category
    </button>
    <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
      <% @categories.each do |category| %>
      <%= link_to category.name, blogs_path(category_id: category.id), class: 'dropdown-item'%>
      <% end %>
    </div>
  </div>

  <!-- Page Features -->
    <div class="row text-center">
      <% @blogs.each do |blog| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card-body">
          <div class="cardwide h-100">
          <%= attachment_image_tag blog, :image , width: 'auto', height: 'auto', fallback: "no_image.jpg", alt: "", class: "card-img-top"%>
            <div class='indexcard-body'>
              <h4 class="card-title"><%= blog.title.truncate(10) %></h5>
              <h6 class="card-text"><%= blog.body.truncate(12) %></h6>
            </div>
            <div class="indexcard-footer">
              ♥<%= blog.blog_favorites.count %> Like<br>
              <%= blog.blog_comments.count %> comment<br>
               Category: <%= blog.category.name %><br>
             Posted by <%= link_to blog.user.name, user_blog_path(blog.user_id) %><br>
             <%= blog.created_at.strftime('%Y/%m/%d') %><br>
              <%= link_to 'Find Out More!', blog_details_path(blog), class: "btn btn-primary", position: 'bottom' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>