<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Evaluation</th>
      <th>Category</th>
      <th>Favorite</th>
      <th>Comment</th>
      <th>Created date</th>
      <th colspan="10"></th>
    </tr>
  </thead>
  <tbody>
    <% reviews.each do |review| %>
      <tr>
        <td>
        </td>
        <td><%= link_to review.user.name, user_review_path(review.user_id) %></td>
        <td><%= link_to review_details_path(review) do %>
          <%= review.truncate_count(10, "title") %>
          <% end %>
        </td>
        <td><%= review.truncate_count(12, "body") %></td>
        <td class="review-evaluation" data-score="<%= review.evaluation %>"></td>
        <td><%= review.genre %></td>
        <td>
          <div id="reviewfavorites_buttons_<%= review.id %>">
            <%= render 'review_favorites/review_favorite', review: review %>
          </div>
        </td>
        <td><%= review.comments_count %></td>
        <td> <%= create_at_by(review) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $('.review-evaluation').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score');
    },
  });
</script>