<div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <div class="detail-title">
        <h1 class="mt-4"><%= @review.title %></h1>
        </div>
        <!-- Author -->
        <p class="lead">
          by
          <%= link_to @review.user.name, user_review_path(@user) %>
        </p>
        <div class="comments-count" id="review_<%= @review.id %>" >
        <p><%= @review.review_comments.count %> comment</p>
        </div>
        <div class="review-evaluation" data-score="<%= @review.evaluation %>"></div>
        <div id="reviewfavorites_buttons_<%= @review.id %>"><%= render 'review_favorites/review_favorite', review: @review %></div>
        <hr>
        <!-- Date/Time -->
        Posted on <%= @review.created_at.strftime('%Y/%m/%d') %>  by <%= @review.user.name %>
        <!--edit/delete-->
        <% if @review.user == current_user %>
          <%= link_to 'Edit', edit_review_path(@review), class: "btn btn-sm btn-success edit_book" %>
          <%= link_to "Delete", review_path(@review), method: :delete, class: "btn btn-sm btn-danger destroy_book" %>
        <% end %>
        <hr>
        <!-- Preview Image -->
        <%= attachment_image_tag @review, :image , size: 'auto', alt: "" , class: "img-fluid rounded" %>
        <hr>
        <!-- Post Content -->
        <div class="detail-content">
        <p class="lead"><%= @review.body %></p>
        <!-- Comments Form -->
          <%= form_with model:[@review, @review_comment], remote: true do |f| %>
          <div class="card my-4">
            <h5 class="card-header">Post a Comment:</h5>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <%= f.text_area :comment, rows:'3', class: "form-control", placeholder: "Please write your answer here",id: "reviewtexture_area"  %>
                </div>
                <%= f.submit "Post", class: "btn btn-primary"  %>
              </form>
            </div>
          </div>
          <% end %>
          <!-- Side Widget -->
          <h5 class="card-header">Responses from other users</h5>
        </div>
        <div id="reviewcomments_area">
          <%= render 'review_comments/review_details', review: @review %>
        </div>
    </div>
  </div>
</div>

<script>
  $('.review-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>