<div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <div class="detail-title">
        <h1 class="mt-4"><%= @review.title %></h1>
        </div>
        <!-- Author -->
        <p class="lead">
          by
          <%= link_to @review.user.name, user_review_path(@user) %>
        </p>
        <div class="comments-count" id="review_<%= @review.id %>" >
        <%= @review.comments_count %> comment
        </div>
        <div id="reviewfavorites_buttons_<%= @review.id %>"><%= render 'review_favorites/review_favorite', review: @review %></div>
        Review Category : <%= link_to @review.category.name, reviews_path(category_id: @review.category.id) %>
        <div class="review-evaluation" data-score="<%= @review.evaluation %>"></div>
        <hr>
        <!-- Date/Time -->
        Posted on <%= create_at_by(@review) %>  by <%= @review.user.name %>
        <!--edit/delete-->
        <% if @review.user == current_user %>
          <%= link_to 'Edit', edit_review_path(@review), class: "btn btn-sm btn-success edit_book" %>
          <%= link_to "Delete", review_path(@review), method: :delete, class: "btn btn-sm btn-danger destroy_book" %>
        <% end %>
        <hr>
        <!-- Preview Image -->
        <%= attachment_image_tag @review, :image , size: 'auto', fallback: "no_image.jpg", alt: "" , class: "img-fluid rounded" %>
        <hr>
        <!-- Post Content -->
        <div class="detail-content">
        <p class="detaillead"><%= @review.body %></p>
        <!-- Comments Form -->
          <%= form_with model:[@review, @review_comment], remote: true do |f| %>
          <div class="card my-4">
            <h5 class="card-header">Post a Comment: Please enter at least 5 characters for the comment.</h5>
              <form>
                <div>
                  <%= f.text_area :comment, rows:'3', class: "form-control", placeholder: "Please write your answer here",id: "reviewtexture_area"  %>
                </div>
                <%= f.submit "Post", class: "btn btn-primary"  %>
              </form>
          </div>
          <% end %>
          <!-- Side Widget -->
          <h5 class="card-header">Responses from other users</h5>
        </div>
        <div id="reviewcomments_area">
          <%= render 'review_comments/review_details', review: @review %>
        </div>
    </div>
  </div>
</div>

<script>
  $('.review-evaluation').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score');
    },
  });
</script>