<div class="container">
<!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">A Review Welcome!</h1>
    <p class="lead">This is a list of users' reviews.  Let's comment and follow! Take a look at everyone's reviews and use them as your own opinions and references.</p>
    <p class="lead">↓　Go to your Review list page.　Or start Review!</p>
    <%= link_to 'LETS YOUR REVIEW PAGE!!', user_review_path(current_user), class: "btn btn-primary btn-lg", role: '' %>
    <%= link_to 'Ｎｅｗ', new_review_path, class: "btn btn-primary btn-lg", role: '' %>
  </header>

  <div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle category-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Select Category
    </button>
    <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
      <% @categories.each do |category| %>
      <%= link_to category.name, reviews_path(category_id: category.id), class: 'dropdown-item'%>
      <% end %>
    </div>
  </div>

  <!-- Page Features -->
  <div class="row text-center">
    <% @reviews.each do |review| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card-body">
        <div class="cardwide h-100">
          <%= link_to review_details_path(review) do %>
          <%= attachment_image_tag review, :image , width: 'auto', height: 'auto', fallback: "no_image.jpg", alt: "", class: "card-img-top"%>
          <% end %>
          <div class='indexcard-body'>
            <h4 class="card-title"><%= review.truncate_count(10, "title") %></h5>
            <h6 class="card-text"><%= review.truncate_count(12, "body") %></h6>
          </div>
          <div class="indexcard-footer">
            <div class="review-evaluation" data-score="<%= review.evaluation %>"></div>
            ♥<%= review.favorites_count %> Like<br>
            <%= review.comments_count %> comment<br>
            Category: <%= review.genre %><br>
            Posted by <%= link_to review.user.name, user_review_path(review.user_id) %><br>
            <%= create_at_by(review) %><br>
            <%= link_to 'Find Out More!', review_details_path(review), class: "btn btn-primary", position: 'bottom' %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

  <script>
  $('.review-evaluation').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score');
    },
  });
</script>