<div class="container">

    <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
      <h1 class="display-3">Review page by <%= @user.name %></h1>
      <p class="lead">This is your Review list page. Evaluate and share your favorite products. Let's brag about recipes and theories as knowledge even if they are not things!</p>
      <p class="lead">↓　Let's create a Review right away!</p>
      <%= link_to 'START A Review！',new_review_path(current_user), class: "btn btn-primary btn-lg"%>
    </header>
  <div class="container">
    <div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle category-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Select Category
    </button>
    <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
      <% @categories.each do |category| %>
      <%= link_to category.name, user_review_path(category_id: category.id), class: 'dropdown-item'%>
      <% end %>
    </div>
  </div>
    <div class="row">

          <!-- review Entries Column -->
          <div class="col-md-8">

            <h1 class="my-4">review Lists
              <small>by <%= @user.name %></small>     <%=@user.reviews.count %>articles
            </h1>


            <!-- review Post -->
            <% @reviews.each.with_index(1) do |review, idx| %>
            <div class='review-card'>
              <div class="card mb-4">
                <%= link_to review_details_path(review) do %>
                <%= attachment_image_tag review, :image , width: 'auto', height: 'auto', fallback: "no_image.jpg", alt: "", class: "card-img-top"%>
                <% end %>
                <div class="card-body">
                  <h4 class="card-title"> <%= idx %>article</h4>
                  <div class="review-evaluation" data-score="<%= review.evaluation %>"></div>
                  <h2 class="card-title"><%= review.truncate_count(10, "title") %></h2>
                  <p class="card-text"><%= review.truncate_count(150, "body") %></p>
                  <%= link_to 'Read More →', review_details_path(review), class: "btn btn-primary", role: "" %>

                </div>
                <div class="card-footer text-muted">
                  <pre>Posted on <%= create_at_by(review) %>  by <%= review.user.name %>　　<%= review.comments_count %> comment 　 ♥<%= review.favorites_count %> Like    Category: <%= review.genre %></pre>

                  <div>
                  <% if review.user == current_user %>
                    <%= link_to 'Edit', edit_review_path(review), class: "btn btn-sm btn-success edit_book" %>
                    <%= link_to "Delete", review_path(review), method: :delete, class: "btn btn-sm btn-danger destroy_book" %>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
    <!-- /.row -->

    </div>
  </div>
</div>

<script>
  $('.review-evaluation').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score');
    },
  });
</script>