<div class="container">

    <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
      <h1 class="display-3">Review page by <%= @user.name %></h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
      <%= link_to 'START A Review！',new_review_path(current_user), class: "btn btn-primary btn-lg"%>
    </header>
  <div class="container">

    <div class="row">

          <!-- review Entries Column -->
          <div class="col-md-8">

            <h1 class="my-4">review Lists
              <small>by <%= @user.name %></small>     <%=@user.reviews.count %>articles
            </h1>


            <!-- review Post -->
            <% @reviews.each.with_index(1) do |review, idx| %>
            <div class='review-card'>
              <div class="card mb-4">
                <%= attachment_image_tag review, :image , width: 'auto', height: 'auto', fallback: "no_image.jpg", alt: "", class: "card-img-top"%>
                <div class="card-body">
                  <h4 class="card-title"> <%= idx %>article</h4>
                  <h2 class="card-title"><%= review.title.truncate(35) %></h2>
                  <p class="card-text"><%= review.body.truncate(200) %></p>
                  <%= link_to 'Read More →', review_details_path(review), class: "btn btn-primary", role: "" %>

                </div>
                <div class="card-footer text-muted">
                  <pre>Posted on <%= review.created_at.strftime('%Y/%m/%d') %>  by <%= review.user.name %>　　<%= review.review_comments.count %> comment 　 ♥<%= review.review_favorites.count %> Like    Category: <%= review.category.name %></pre>

                  <div>
                  <% if review.user == current_user %>
                    <%= link_to 'Edit', edit_review_path(review), class: "btn btn-sm btn-success edit_book" %>
                    <%= link_to "Delete", review_path(review), method: :delete, class: "btn btn-sm btn-danger destroy_book" %>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
    <!-- /.row -->

    </div>
  </div>
</div>