<!DOCTYPE html>
<html>
  <head>
    <title>LifeWorth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div>
        <%= render "layouts/header" %>
      </div>
      <%= yield %></p>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
