<!DOCTYPE html>
<html>
  <head>
    <title>LifeWorth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <%= render "layouts/header" %>
      </header>
      <div class='headline'>
        <%= render 'layouts/flash_message'%>
        <% if user_signed_in? %>
        <%= render 'layouts/search' %>
        <% end %>
      </div>
      <div id="contents">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>

  </body>

</html>
